.todoListMain
{
  height:100%;
  width:100%;
  
}

.todoListMain .header .fclip
  {
  position: absolute;
  padding:9px;
  color: yellowgreen;
}
.todoListMain .header input
 {
  font-family: 'Lato', sans-serif;
    padding: 10px;
    font-size: 16px;
    border: 1px solid  lightgray;
    width: 150px;
    border-radius: 5px;
    padding-left: 36px;
    margin-right: 1px;
    
  }
  

  .todoListMain .header input:focus {
    border: 1px solid rgb(145, 144, 144); /* some kind of blue border */
    outline:none;
    -webkit-box-shadow: 0px 0px 3px rgb(145, 144, 144);
       -moz-box-shadow: 0px 0px 3px rgb(145, 144, 144);
            box-shadow: 0px 0px 3px rgb(145, 144, 144); /* some variation of blue for the shadow */

}
  .todoListMain .header button 
  {
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
    width:40px;
    height:40px;
    border-radius: 5px;
    background-color:rgb(139, 206, 241);
    color: #FFF;
    border: 2px solid rgb(139,206,241);
  }
  .todoListMain .header button:enabled 
  {
    background-color: rgb(71, 186, 248);
    border: 2px solid rgb(71, 186, 248);
    cursor: pointer;
    outline: none;
  }
  
  
  .todoListMain .theList p {
    color: #333;
    border:1px solid rgb(238,238,238);
    overflow: auto;
    background-color: white;
    margin-top: 40px;
    font-family: 'Lato', sans-serif;
    border-radius: 5px;
    width:50%;
    height:40px;
    padding:0;
    left: 25%;
    position: relative;
  }
  

  p .faicons{
   float: right;
   right:6px;
   top:8px;
   font-size: 14px;
   color:grey;
   position: absolute;
   cursor: pointer;
  }
  p .fedit
  {
   
    top:8px;
   right:28px;
   font-size: 14px;
   color:grey;
   position: absolute;
   cursor: pointer;
   
  }
  p .fedit:hover
  {
    font-size:16px;
  }
  p .faicons:hover{
    font-size:16px;
  }
  p span .date
  {
    color: grey;
    font-size: 12px;
   right:6px;
   top:23px;
   position: absolute;
   font-family: 'Lato', sans-serif;
  }
  p input{
  
    border:0;
    overflow: hidden;
    resize: none;
    color:black;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin-left:-4em;
    width:70%;
    height: 100%;
   
   
  }
  p input:focus{
    outline: none;
  }
  .todoListMain .theList p::-webkit-scrollbar {
    display: none;
  }
  .todoListMain .theList p {
    -ms-overflow-style: none;
  }
    
  