.todoListMain
{
  height:100%;
  width:95%;
  
}
.todoListMain .header
{
  margin-left:8%;
}
.todoListMain .header input
 {
    padding: 10px;
    font-size: 16px;
    border: 2px solid rgba(14, 1, 1, 0.767);
    width: 200px;
    
  }
  .todoListMain .header button 
  {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: #0066FF;
    color: #FFF;
    border: 2px solid #0066FF;
  }
  .todoListMain .header button:hover 
  {
    background-color: #003399;
    border: 2px solid #003399;
    cursor: pointer;
  }
  
  .theList 
  {
   
    padding: 2%;
    
    text-align: justify;
    
   
  }
  .todoListMain .theList p {
    color: #333;
    background-color:rgba(255,255,56,.5);
   overflow: auto;
    padding: 18px;
    margin-bottom: 45px;
    border-radius: 5px;
    width:18%;
    height:100px;
    display: inline-block;
    margin-left: 4%;
    position: relative;
  }
  

  p .faicons{
   float: right;
   right:6px;
   top:9px;
   font-size: 14px;
   color:black;
   position: absolute;
   cursor: pointer;
  }
  p .faicons:hover{
    font-size:16px;
  }
  p textarea{
   background-color: transparent;
    border:0;
    overflow: hidden;
    resize: none;
    color:black;
    font-family: 'Bowlby One SC', cursive;
    font-size: 18px;
    width:100%;
    height:97%;
    word-wrap: break-word;
  }
  p textarea:focus{
    outline: none;
  }
  .todoListMain .theList p::-webkit-scrollbar {
    display: none;
}
.todoListMain .theList p {
  -ms-overflow-style: none;
}
  
  