body {
 
  background-color: #FFFAFB;
    text-align: center;
    font-family: 'Bowlby One SC', cursive;
    margin:0;
    padding:0;
    height:100%;
}

.heading
{
 background-color:black ;
 color:white;
 height:100px;
 padding:30px;
 
}
